body {
    font-family: Arial, sans-serif;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

li .todo-text {
    flex-grow: 1;
}

li button {
    background-color: #e03323;
    color: #fff;
    border: none;
    border-radius: 15%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
}

#banner {
    display: none;
    background-color: #fefed0;
    color: black;
    padding: 10px;
    text-align: center;
}